--extra-index-url https://download.pytorch.org/whl/cpu
fastapi[standard]
uvicorn
pydantic-settings
pwdlib[argon2]
pyjwt
sqlalchemy>=2.0
psycopg[binary]
alembic
pgvector
sentence-transformers
groq
pytest
